html
    head
    body
        table
            tr
                th ID
                th First Name
                th Last Name
                th Email
                th Age
            for user in userArray    
                tr
                    td(id=user.id)= user.id
                    td= user.fName
                    td= user.lName
                    td= user.email
                    td= user.age
                    td 
                        button
                            a(href="/") Edit
                    td
                        button(onclick='editRedirect()') Delete
